<!DOCTYPE html>
<html>
<head>
	<title>Add Note</title>
	
</head>
<body>
	<div class="container">
	<form method="post" action="/addnote">
	<div class="box">
		title: <textarea name="title" rows="2" columns="2" placeholder="Title"></textarea><br/>
		<br/>
		note: <textarea name="note" rows="6" columns="50" placeholder="Notes"></textarea><br/>
		<br/>
		<button id="addNote" type="submit">Add</button>

	</div>
	</form>
	</div>
</body>
</html>
