<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href=/addnote>
    <button type="submit">Add Note</button></a>
    <a href="/viewnote"> <button type="submit"> view note</button></a>
  </body>
</html>
