<!DOCTYPE html>
<html>
<head>
	<title> login </title>
</head>
<body>
<form method="post" action="/login">
	name:<input type="text" name="username" id="nameInput"> <br/>
	password:<input type="password" name="password" id="passwordInput"> <br/>
	<button type="submit">Login</button> </br>
  </form>
</body>
</html>
