<!DOCTYPE html>
<html>
<head>
	<title> signup </title>
</head>
<body>
	<form method="post" action="/signup">
  name:<input type="text" name="username" id="nameInput"> <br/>
  password:<input type="password" name="password" id="passwordInput"> <br/>
  confirm password:<input type="password" name="confirmPassword" id="confirmPassword">
  <button type="submit">SignUp</button> </br>
  </form>
</body>
</html>
