<!DOCTYPE html>
<html>
<head>
	<title>View note</title>
</head>
<body>
	<h1>View Note</h1>
	<% notes. forEach(function(note, i) { %>
	<div class="note">
		<p><b><%= note.title %></b><br/><br/> <%= note.note %></p>
		<button type="submit">Edit</button>
		<button type="submit"><a href="/deletenote/<%= note._id%>">delete</a></button>
		<button type="submit">Add</button>

		
	</div>
 <%	}) %>

</body>
</html>